/* Sass file that sorts the variable $list_to_sort and prints the sorted list in the debug output */
@import '103-sort_list.scss';
@function list-sort($list_to_sort) {
    $sortedlist: ();
    @while length($list_to_sort) > 1 {
      $value: nth($list_to_sort,1);
      @each $item in $list_to_sort {
        @if $item < $value {
          $value: $item;
        }
      }
      $sortedlist: append($sortedlist, $value, space);
    }
    @debug $sortedlist
  }