/* Sass file that assigns margin left and right using mixin */
@mixin marginsBody {
    margin-left: 10px;
    margin-right: 10px;
} 
@mixin marginsDiv {
    margin-left: 15px;
    margin-right: 15px;
} 
body {
    @include marginsBody;
}
div {
    @include marginsDiv;  
}